@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,500&display=swap');

/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

/* ROOT SECTION GENERAL RESET */
:root {
    --color-text: #ffffff;
    --color-hover: rgba(235, 150, 132, 255);

}



/* ROOT SECTION GENERAL RESET */






body {
    width: 100vw;
    height: 100vh;

}

main {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: yellow;
}



/* HEADER STYLE START */
.header {
    /* background-color: blueviolet; */
    width: 100%;
    height: 41px;

}

.container-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menu-header-nav a {
    margin-left: 50px;
}

.menu-header-nav img {
    margin-left: 50px;
}



.header-title {
    width: 100%;
    height: 70vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 15px;

}


.header-title-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: red;
    gap: 10px;
}


.header-title-info .header-sub-1-info p {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
}

.header-title-info .header-sub-2-info {
    width: 500px;
    background-color: aqua;
    text-align: center;
}

.header-title-info .header-sub-2-info span {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.header-title .header-title-line {
    width: 50px;
    height: 2px;
    background: red;

}


.header-title button {
    width: 120px;
    padding: 5px;
    color: white;
    background: transparent;
    border: 2px solid white;
}

.header-title .header-title-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    background-color: green;
    width: 100%;

}

.header-title .header-title-menu .header-title-menu-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: pink;
}

.header-title .header-title-menu .header-title-menu-info .info-line {
    width: 100%;
    height: 5px;
    gap: 10px;
    background-color: yellow;
}


.header-title .header-title-menu .header-title-menu-info .info-line-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

/* HEADER STYLE END */